<section class="component__demo-page__about">
  <div class="demo-page__about__inner-container">

    <h2 class="demo-page__about__h2">About reaktor:gulp</h2>
    <p>reactor:gulp is a "Yeoman Generator". Since you're seeing this page, you've used it and answered "yes" to using Fabricator Assemble. You can read more information about Fabricator Assemble here: <a href="https://github.com/fbrctr/fabricator-assemble">https://github.com/fbrctr/fabricator-assemble.</a> However, to get a basic understanding, just have a look at the source-code! Happy development!</p>

    <h3 class="demo-page__about__h3">Contributors</h3>
    {{> demo-page.contributors-list}}

  </div>
</section>
