$clr__gray: rgba(242, 241, 237, 1);
$clr__white: rgba(255, 255, 255, 1);
$clr__black: rgba(0, 0, 0, 1);

html {
  background: $clr__gray;
  box-sizing: border-box;
  color: $clr__black;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
}

p {
  font-size: 1.25rem;
  line-height: 1.5;
}

.component__demo-page__header {
  background: $clr__white;
  border: 1px solid $clr__gray;

  .demo-page__header__inner-container {
    border-left: 1px solid $clr__gray;
    border-right: 1px solid $clr__gray;
    margin: 0 auto;
    max-width: 704px;
    padding: 1rem;
  }

  .demo-page__header__logo-container {}

  .demo-page__header__logo {
    width: 60px;
  }

  .demo-page__header__h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    margin: 0;
  }

  @media all and (min-width: 768px) {
    .demo-page__header__inner-container {
      padding: 2rem 4rem;
    }
  }
}

.component__demo-page__about {

  .demo-page__about__inner-container {
    border-left: 1px solid $clr__gray;
    border-right: 1px solid $clr__gray;
    margin: 0 auto;
    max-width: 704px;
    padding: 1rem;
  }

  .demo-page__about__h2 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.75rem;
  }

  .demo-page__about__h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
  }

  @media all and (min-width: 768px) {
    .demo-page__about__inner-container {
      padding: 2rem 4rem;
    }
  }
}

.component__contributors-list {
  list-style: none;
  margin: 0;
  padding: 0;

  .contributors-list__item {
    border: 1px solid rgba($clr__black, .1);
    font-family: Arial, Helvetica, sans-serif;
    padding: 1rem;
  }
  .contributors-list__item-name {
    font-size: 1.25rem;
    font-weight: bold;
  }
  .contributors-list__item-company {
    font-size: .8rem;
    margin-bottom: 1rem;
  }

  @media all and (min-width: 768px) {
    .contributors-list__item {
      padding: 2rem;
    }
  }
}
